
<div class="card card-outline-secondary my-4">
  <div class="card-header">
    시간계좌
  </div>
  <div class="card-body">
    <h5>시간 계좌 {{ request.user }}</h5>
    <br>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th style="font-size: 13px;">#</th>
          <th style="font-size: 13px;">거래일자</th>
          <th style="font-size: 13px;">주는사람</th>
          <th style="font-size: 13px;">받는사람</th>
          <th style="font-size: 13px;">대분류</th>
          <th style="font-size: 13px;">소분류</th>
          <th style="font-size: 13px;">입금</th>
          <th style="font-size: 13px;">출금</th>
          <th style="font-size: 13px;">잔액</th>
      </tr>
      </thead>
      <tbody>
          <tr>
            {% for success_post in success_posts %}
              <td>{{ success_post.id }}</td>
              <td>{{ success_post.created_at }}</td>
              <td>{{ success_post.giver }}</td>
              <td>{{ success_post.taker }}</td>
              <td>{{ success_post.mainwork }}</td>
              <td>{{ success_post.subwork }}</td>
              {% if username == success_post.giver %}
              <td style="color: blue;">+{{ success_post.tok }}</td>
              <td style="color: red;">0</td>
              <td>{{balance_list}}</td>
              {% elif username == success_post.taker %}
              <td style="color: blue;">0</td>
              <td style="color: red;">-{{success_post.tok}}</td>
              <td>{{balance_list}}</td>
              {% endif %}
          </tr>
          {% endfor %}
      </tbody>
      
    </table>
  </div>
</div>