{% load static %}
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TimeBank</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">TimeBank</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'index' %}">소개</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'index' %}">서비스</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'index' %}">문의하기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'new_post' %}">거래등록</a>
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{% url 'post_list' %}">거래목록</a>
        </li>
          <!--로그인 상태-->
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'profile' user.username %}">{{ user.get_username }}</a>
          </li>
          <li class="nav-item">
            <form action="{% url 'logout' %}" method="POST">
              {% csrf_token %} 
              <input type="submit" class="nav-link logout" href="{% url 'logout' %}" value="Logout" style="border: none; background: transparent;">
            </form>
          </li>
          
          {% else %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'register' %}">SignUp</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>


  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>프로필</h1>
      
    </div>
  </header>

  

 <!-- Page Content -->
 <div class="container">

  <div class="row">
      
    <div class="col-lg-3">
      <div class="card mt-4">
        {% if user.image %}
        <img class="card-img-top img-fluid" src="{{ user.image.url }}" alt="user" style="padding: 30px;">
        {% else %}
        <img class="card-img-top img-fluid" src="/static/img/user.png" alt="user" style="padding: 30px;">
        {% endif %}
        <div class="card-body">
          
          <h3 class="card-title">{{ user.get_username }}님 😃</h3>
          <h4>{{ user.name }}</h4><br>
          <h6>{{ user.email }}</h6>
          <p class="card-text"></p>
          <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
          4.0 stars
        </div>
      </div>
      <p><br><br></p>
      <div class="list-group">
        <a href="{% url 'profile' user.username %}" class="list-group-item active">프로필</a>
        <a href="{% url 'balance' %}" class="list-group-item">시간계좌</a>
        <a href="{% url 'account' %}" class="list-group-item">거래내역</a>
      </div>
      <br><br>
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          잔액
          <span class="badge badge-warning badge-pill" style="font-size: 15px;">{{ user.balance }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          준 시간
          <span class="badge badge-warning badge-pill" style="font-size: 15px;">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          받은 시간
          <span class="badge badge-warning badge-pill" style="font-size: 15px;">1</span>
        </li>
      </ul>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          회원정보
        </div>
        <div class="card-body">
          <h5>회원 정보 수정<br><br></h5>
          
          <form action="{% url 'profile_update' user.username %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="username">사용자 ID</label>
                <input class="form-control" type="text" placeholder="{{user.username}}" readonly>
              </div>
              <div class="form-group col-md-6">
                <label for="name">이름</label>
                <input type="text" class="form-control" id="name" name="name" value="{{user.name}}" placeholder="{{user.name}}">
              </div>
            </div>
            <div class="form-group">
              <label for="email">E-mail</label>
              <input class="form-control" type="text" placeholder="{{user.email}}" readonly>
            </div>
              <div class="form-group">
                <label for="gender">성별</label>
                <div class="row" style="padding-left: 15px;">
                <div class="form-check col-md-4">
                    <input class="form-check-input" type="radio" name="gender" id="gender" value="여성" checked>
                    <label class="form-check-label" for="gender">여성</label>
                </div>
                <div class="form-check col-md-4">
                    <input class="form-check-input" type="radio" name="gender" id="남성" value="남성">
                    <label class="form-check-label" for="gender">남성</label>
                </div>
                <div class="form-check col-md-4">
                  <input class="form-check-input" type="radio" name="gender" id="기타" value="기타">
                  <label class="form-check-label" for="gender">기타</label>
                </div>
              </div>
              </div>
            
            <div class="form-group">
                <label for="birth">생년월일</label>
                <input type="date" class="form-control" id="birth" name="birth" value="{{user.birth}}" placeholder="{{user.birth}}">
              </div>
              <div class="form-group">
                <label for="user_age">나이</label><p style="color: blue;">생년월일을 입력하면 자동으로 계산됩니다.</p>
                <input type="text" class="form-control" id="user_age" name="user_age" value="{{user.user_age}}" placeholder="자동으로 계산됩니다" readonly>
              </div>
            <div class="form-group">
              <label for="contact">연락처</label>
              <input type="text" class="form-control" id="contact" name="contact" value="{{user.contact}}" placeholder="{{user.contact}}">
            </div>
            <div class="form-group">
              <label for="about">소개</label>
              <textarea class="form-control" id="about" rows="3"></textarea>
            </div>
            <br><br>
            <button type="submit" class="btn btn-success">수정 완료</button>
          </form>
      </div>
      <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->

    <div class="container">

      <div class="row">
          
        <div class="col-lg-3">
        </div>
    <div class="col-lg-9">

      
      </div>
      <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->
  </div>
  </div>
</div>
</div>
<!-- /.container -->

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
      </div>
    </div>
  </div>
</section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Dayoung Seon 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{% static 'js/scrolling-nav.js' %}"></script>

</body>


