<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container">
            <div class="row mt-5">
                <div class="col-12 text-center">
                <h1>회원가입</h1>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <!--에러 메세지-->
            <div class="col-12">
                {{ error }}
            </div>
            <div class="col-12">
                <!-- action="." : 현재 페이지에 post -->
              <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                  {{ form.as_p }}
                  <p>
                      <label for="userid">사용자 ID: </label>
                      <input autofocus="" id="userid" name="username" pattern="[a-zA-Z0-9]+" title="특수문자, 공백 입력불가" type="text" required="">
                  </p>
                  <p>
                      <label for="email">이메일 주소 : </label>
                      <input id="email" maxlength="254" name="email" type="email">
                  </p>
                  <p>
                      <label for="id_password1">비밀번호 : </label>
                      <input id="id_password1" name="password" type="password" required>
                  </p>
                  <p>
                      <label for="id_password2">비밀번호 확인 :</label>
                      <input id="id_password2" name="pw_check" type="password" required="">
                      <span class="helptext">확인을 위해 이전과 동일한 비밀번호를 입력하세요. </span>
                  </p>
                  <p>
                      <label for="username">사용자 이름 : </label>
                      <input id="username" name="name" type="text" required>
                  </p>
                  <p>
                      <label for="id_picture">프로필 사진 :</label>
                      <input id="id_picture" name="image" type="file" required>
                  </p>
                <input class="submit_btn" type="submit" value="가입">
              </form>
            </div>
            <div class="shortcut">
            <p class="link">계정이 있으신가요? <a href="{% url 'login' %}">로그인</a></p>
            </div>
          </div>
            </div>
        </div>        
    </body>
</html>