{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>TimeBank</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>

    <style>
        @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        line-height: 150%;
      }
      body{font-family: 'Pretendard-Regular';}
      </style>

    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->


        {% block content %}
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">관리자</h1>
                                <h4 class="lead fw-normal" style="color: yellow;">모든 사람의 시간은 동등하다. 모든 사람은 가치있다.</h4>
                                <p class="lead fw-normal text-white-50 mb-4" style="padding-top:20px">
                                    나를 위한 당신의 시간<br>
                                    당신을 위한 나의 시간<br>
                                    공동체를 살리는 우리의 시간
                                </p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">TimeBank</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="{% url 'register' %}">회원가입</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="/static/img/talk_img.gif" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <h2>Map View</h2>

                        <div class="map_wrap">
        
                            <div id="menu_wrap" class="bg_white">
                                <div class="option">
                                    <div>
                                        <form onsubmit="searchPlaces(); return false;">
                                            <input type="text" value="" id="keyword" size="30"> 
                                            <button type="submit">검색하기</button> 
                                        </form>
                                    </div>
                                </div>
                                <hr>
                                <ul id="placesList"></ul>
                                <div id="pagination"></div>
                            </div>
                            
                            <div id="map" style="width:100%;height:80vh;"></div>
                            
                            <p id="result"></p>
                        
                        <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=70e9c3901d49997e875b14d6273c41d4&libraries=services,clusterer,drawing"></script>
                        <script>
                            // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
                            var infowindow = new kakao.maps.InfoWindow({zIndex:1});
                            
                            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
                                mapOption = {
                                    center: new kakao.maps.LatLng(37.5662, 126.9784), // 지도의 중심좌표
                                    level: 3 // 지도의 확대 레벨
                                    
                                };  
                            
                            
                            // 지도를 생성합니다    
                            var map = new kakao.maps.Map(mapContainer, mapOption); 
                            
                            // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
                            var mapTypeControl = new kakao.maps.MapTypeControl();
                            
                            // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
                            // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
                            map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
                            
                            // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
                            var zoomControl = new kakao.maps.ZoomControl();
                            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
                            
                            
                            
                            // 주소-좌표 변환 객체를 생성합니다
                            var geocoder = new kakao.maps.services.Geocoder();
                            
                            // 지도에 클릭 이벤트를 등록합니다
                            // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
                            kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        
                                
                                // 클릭한 위도, 경도 정보를 가져옵니다 
                                var latlng = mouseEvent.latLng;
                                
                                var message = '클릭한 위치의 좌표 (경도,위도) : ' + latlng.getLat() + ', ' + latlng.getLng();
                                
                                var resultDiv = document.getElementById('result'); 
                                resultDiv.innerHTML = message;
                                
                            });
                            
                            
                            
                            // 지도를 클릭했을 때 클릭 위치 좌표에 대한 주소정보를 표시하도록 이벤트를 등록합니다
                            kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
                                searchDetailAddrFromCoords(mouseEvent.latLng, function(result2, status) {
                                    if (status === kakao.maps.services.Status.OK) {
                                        var detailAddr = !!result2[0].road_address ? '<div>도로명주소 : ' + result2[0].road_address.address_name + '</div>' : '';
                                        detailAddr += '<div>지번 주소 : ' + result2[0].address.address_name + '</div>';
                                        
                                        var content = '<div class="bAddr">' +
                                                        '<span class="title">법정동 주소정보</span>' + 
                                                        detailAddr + 
                                                    '</div>';
                            
                                        // 마커를 클릭한 위치에 표시합니다 
                                        marker.setPosition(mouseEvent.latLng);
                                        marker.setMap(map);
                            
                                        // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                                        infowindow.setContent(content);
                                        infowindow.open(map, marker);
                                    }   
                                });
                            });
                            
                                function searchAddrFromCoords(coords, callback) {
                                // 좌표로 행정동 주소 정보를 요청합니다
                                geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);         
                            }
                            
                            function searchDetailAddrFromCoords(coords, callback) {
                                // 좌표로 법정동 상세 주소 정보를 요청합니다
                                geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
                            }
                            
                            // 장소 검색 객체를 생성합니다
                            var ps = new kakao.maps.services.Places(); 
                            
                            // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
                            var infowindow = new kakao.maps.InfoWindow({zIndex:1});
                            
                            // 키워드로 장소를 검색합니다
                            searchPlaces();
                            
                            // 키워드 검색을 요청하는 함수입니다
                            function searchPlaces() {
                            
                                var keyword = document.getElementById('keyword').value;
                            
                                if (!keyword.replace(/^\s+|\s+$/g, '')) {
                                    alert('장소를 입력해주세요!');
                                    return false;
                                }
                            
                                // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
                                ps.keywordSearch( keyword, placesSearchCB); 
                            }
                            
                            // 키워드 검색 완료 시 호출되는 콜백함수 입니다
                            function placesSearchCB (data, status, pagination) {
                                if (status === kakao.maps.services.Status.OK) {
                            
                                    // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                                    // LatLngBounds 객체에 좌표를 추가합니다
                                    var bounds = new kakao.maps.LatLngBounds();
                            
                                    for (var i=0; i<data.length; i++) {
                                        displayMarker(data[i]);    
                                        bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
                                    }       
                            
                                    // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                                    map.setBounds(bounds);
                                } 
                            }
                            
                            // 지도에 마커를 표시하는 함수입니다
                            function displayMarker(place) {
                                
                                // 마커를 생성하고 지도에 표시합니다
                                var marker = new kakao.maps.Marker({
                                    map: map,
                                    position: new kakao.maps.LatLng(place.y, place.x) 
                                });
                            
                                // 마커에 클릭이벤트를 등록합니다
                                kakao.maps.event.addListener(marker, 'click', function() {
                                    // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
                                    infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
                                    infowindow.open(map, marker);
                                });
                            }
                        </script>
                        

                    
                    </div>
                </div>
            </section>
            <!-- Testimonial section-->

            <!-- Blog preview section-->

        </main>
        
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; TimeBank 2021</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
          </footer>

        

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <script>
            function prepare(){
                alert("업데이트 준비중입니다");
            }
        </script>
    </body>
</html>
{% endblock %}
