{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>TimeBank</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <!--icon-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    </head>

    <style>
        @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        line-height: 150%;
      }
      body{font-family: 'Pretendard-Regular';}
      </style>

    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->


        {% block content %}
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">쌍용종합사회복지관 TimeBank</h1>
                                <h4 class="lead fw-normal" style="color: yellow;">모든 사람의 시간은 동등하다. 모든 사람은 가치있다.</h4>
                                <p class="lead fw-normal text-white-50 mb-4" style="padding-top:20px">
                                    나를 위한 당신의 시간<br>
                                    당신을 위한 나의 시간<br>
                                    공동체를 살리는 우리의 시간
                                </p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">TimeBank</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="{% url 'register' %}">회원가입</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="/static/img/ssbok.png" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">⏱️ 우리 시간은행은?</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                    <h2 class="h5">⏳ 소개</h2>
                                    <p class="mb-0">- 우리 이웃끼리 품앗이 하듯이 돈을 주고 받음이 없이 봉사와 봉사를 주고 받는 모임입니다.</p>
                                    <p class="mb-0">- 1인 가구를 비롯해 남녀노소 누구나 참여 가능합니다.</p>
                                    <p class="mb-0">- 모든 봉사시간은 시간을 단위로 기록되고 저장됩니다.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                    <h2 class="h5">⏳ 다섯 가치 </h2>
                                    <p class="mb-0">- 우리는 누구나 남에게 베풀 것이 있다.</p>
                                    <p class="mb-0">- 이웃과 동네를 위한 노동은 가치있고 중요한 것이다.</p>
                                    <p class="mb-0">- 도움을 받는 것은 주는 것만큼 좋은 것이다. 도움주기와 받기를 모두 하면 도움의 효과는 커진다.</p>
                                    <p class="mb-0">- 우리에겐 서로가 필요하며, 함께 하면 우리는 더 강해진다.</p>
                                    <p class="mb-0">- 모든 사람은 존중받을 자격이 있다.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                    <h2 class="h5">⏳ 무엇을 할 수 있나요?</h2>
                                    <p class="mb-0">- 요리교실, 악기교실 등 다양한 배움을 시간화폐로 바꿀 수 있어요.</p>
                                    <p class="mb-0">- 나의 재능을 다른 사람과 함께 나눌 수 있어요.</p>
                                    <p class="mb-0">- 일상생활의 도움을 주고 받을 수 있어요.</p>
                                </div>
                                <div class="col h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                    <h2 class="h5">⏳ 참여대상</h2>
                                    <p class="mb-0">- 1인 가구와 상호시간나눔을 하고 싶은 사람 누구나</p>
                                    <p class="mb-0">- 나의 지식, 기술, 경험을 이웃과 교환하고 싶은 사람</p>
                                    <p class="mb-0">- 우리 동네 이웃을 좀 더 알아가고 싶은 사람</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">"누구나의 시간은 똑같습니다.<br>어떤 노동이든 가치는 동일합니다."</div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <img class="rounded-circle me-3" src="static/img/equal.png" alt="..." style="height: 200px; width: 400px;" />
                                </div>
                                <div class="d-flex align-items-center justify-content-center"></div>
                                    <div class="fw-bold" style="color: blue; font-size: 20px;">
                                        우리의 시간은 같다
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">⏱️ 시간은행 시작하기</h2></div>
                    <div class="row gx-5 justify-content-center" style="margin-top:20px; margin-bottom: 100px;">
                        <img src="static/img/timebank_img.png" />
                    </div>
                    
                    <!-- Call to action-->
                    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                            <div class="mb-4 mb-xl-0">
                                <div class="fs-3 fw-bold text-white">문의하기</div>
                                <div class="text-white-50">kkbo5222@gmail.com</div>
                            </div>
                            <div class="ms-xl-4">
                                <a href="http://ssbok.or.kr/52"  target="_blank" class="btn btn-outline-light btn-lg" id="button-newsletter" type="button">쌍용종합사회복지관</a>
                                <div class="small text-white-50" style="margin-top: 10px;">쌍용종합사회복지관 페이지 바로가기</div>
                            </div>
                        </div>
                    </aside>
                </div>
            </section>
        </main>
        
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; TimeBank 2021</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
          </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
        <script>
            function prepare(){
                alert("업데이트 준비중입니다");
            }
        </script>
    </body>
</html>
{% endblock %}
