{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>TimeBank</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
      {% block content %}
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">시간 거래 목록</h1>
                    <p class="lead mb-0"></p>
                </div>
            </div>
        </header>

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">

                  <!--Search-->
                  <div class="card mb-4">
                    <div class="card-body">
                        <h5>시간 거래 검색</h5>
                        <form class="input-group" action="{% url 'post_list_search' %}" method="get">
                          <select class="custom-select" name="type" style="margin-right: 10px;">
                            <option value="all" selected>전체</option>
                            <option value="author">작성자</option>
                            <option value="location">장소</option>
                          </select>
                          <input class="form-control" type="text" placeholder="검색어를 입력해주세요" aria-describedby="button-search" name="q"/>
                          <button class="btn btn-primary" id="button-search" type="submit">검색</button>
                        </form>
                    </div>
                  </div>

                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <div class="card-body">
                          <table id="example" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                              <tr>
                                <th style="font-size: 13px;text-align: center;">요청상태</th>
                                <th style="font-size: 13px;text-align: center;">요청 분류</th>
                                <th style="font-size: 13px;text-align: center;">작성자</th>
                                <th style="font-size: 13px;text-align: center;">장소</th>
                                <th style="font-size: 13px;text-align: center;">대분류</th>
                                <th style="font-size: 13px;text-align: center;">소분류</th>
                                <th style="font-size: 13px;text-align: center;">요청시간</th>
                                <th style="font-size: 13px;text-align: center;">거래날짜</th>
                            </tr>
                            </thead>
                            <tbody>
                              {% for post in posts %}
                              <tr>
                                {% if post.status == "대기" %}
                                  <td style="text-align: center;"><button type="button" class="btn btn-primary" id="post_ajax" data-toggle="modal" data-target="#staticBackdrop" name="{{post.id}}">신청가능</button></td>    
                                  {% elif post.status == "진행" %}
                                  <td style="text-align: center;"><button type="button" class="btn btn-success" id="post_ajax" data-toggle="modal" data-target="#staticBackdrop" name="{{post.id}}">{{ post.status }}</button></td> 
                                  {% elif post.status == "완료" %}
                                  <td style="text-align: center;"><button type="button" class="btn btn-warning" id="post_ajax" data-toggle="modal" data-target="#staticBackdrop" name="{{post.id}}">매칭완료</button></td>
                                  {% elif post.status == "완료확정" %}
                                  <td style="text-align: center;"><button type="button" class="btn btn-warning" id="post_ajax" data-toggle="modal" data-target="#staticBackdrop" name="{{post.id}}">매칭완료</button></td>  
                                  {% elif post.status == "중단" %}
                                  <td style="text-align: center;"><button type="button" class="btn btn-secondary" id="post_ajax" data-toggle="modal" data-target="#staticBackdrop" name="{{post.id}}">{{ post.status }}</button></td> 
                                {% endif %}
                                <!--Modal-->
                                <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                     <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="staticBackdropLabel">제목 <br> 작성자 : <div class="modal-author"></div></h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-primary modal-moreBtn">자세히보기</button>
                                    </div>
                                  </div>
                                </div>
                                <!--End Modal-->
                                  <td style="text-align: center;">{{ post.service }}</td>
                                  <td style="text-align: center;"><a href="{% url 'profile' post.author.username %}">{{ post.author }}</a></td>
                                  <td style="text-align: center;">{{post.location}}</td>
                                  <td style="text-align: center;">{{ post.mainwork }}</td>
                                  <td style="text-align: center;">{{ post.subwork }}</td>
                                  <td style="text-align: center;">{{ post.tok }}</td>
                                  <td style="text-align: center;">{{ post.date }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                          </table>
                        </div>
                    </div>
                    
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">

                  <div>
                    <a href="{% url 'index' %}" class="btn btn-light">홈</a>/<a href="{% url 'post_list'%}" class="btn btn-light">거래목록</a>
                  </div>

                    <div class="card mb-4">
                      <a href="{% url 'new_post_step1' %}" class="btn btn-primary" id="button-search" type="button">거래 등록</a>
                    </div>

                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">🔍 검색필터</div>
                        <div class="card-body">
                          <form action="{% url 'post_search_filter' %}" method="get">

                            <div class="form-group">
                              <label for="exampleFormControlSelect1">요청분류</label>
                              <select class="custom-select" id="exampleFormControlSelect1" name="service">
                                <option value="주고싶어요" selected>주고 싶어요</option>
                                <option value="받고싶어요">받고 싶어요</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlSelect1">요청상태</label>
                              <select class="custom-select" id="exampleFormControlSelect1" name="status">
                                <option value="대기">대기</option>
                                <option value="진행">진행</option>
                                <option value="완료">매칭완료</option>
                                <option value="중단">중단</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlSelect2">대분류</label>
                              <select class="custom-select" id="exampleFormControlSelect2" name="category">
                                <option value='교육' selected>교육</option>
                                <option value='예술'>예술</option>
                                <option value='스포츠'>스포츠</option>
                                <option value='돌봄'>돌봄</option>
                                <option value='일손 제공'>일손 제공</option>
                                <option value='언어'>언어</option>
                                <option value='멘토링/튜터링'>멘토링/튜터링</option>
                                <option value='수리/수선'>수리/수선</option>
                                <option value='사무'>사무</option>
                                <option value='반려동물'>반려동물</option>
                                <option value='기타'>기타</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <div style="margin-bottom: 10px;">요청시간</div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">1시간 미만</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">3시간 미만</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                <label class="form-check-label" for="inlineCheckbox3">5시간 미만</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                <label class="form-check-label" for="inlineCheckbox3">5시간 이상</label>
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="exampleFormControlTextarea1">거래날짜 (기간검색)</label>
                              <input type="date" class="form-control" id="exampleFormControlTextarea1" rows="3"></input>
                              <strong>~</strong>
                              <input type="date" class="form-control" id="exampleFormControlTextarea1" rows="3"></input>
                            </div>

                            <button class="btn btn-outline-primary" style="float: right;">검색</button>

                          </form>

                        </div>
                    </div>

                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">문의하기</div>
                        <div class="card-body">kkbo5222@naver.com</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
          <div class="container px-5">
              <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                  <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; TimeBank 2021</div></div>
                  <div class="col-auto">
                      <a class="link-light small" href="#!">Privacy</a>
                      <span class="text-white mx-1">&middot;</span>
                      <a class="link-light small" href="#!">Terms</a>
                      <span class="text-white mx-1">&middot;</span>
                      <a class="link-light small" href="#!">Contact</a>
                  </div>
              </div>
          </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom JavaScript for this theme -->
        <script src="{% static 'js/scripts.js' %}"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

        <script>
          //  $("#btn_more").click(function (){
          //     $( '.Toggle' ).toggle( 'slow' );
          //   })

        // moreBtn
        $(document).on('click', '#post_ajax', function(){
          var pk = $(this).attr('name');
          $.ajax({
            type:"POST",
            url:"{% url 'post_ajax' %}",
            dataType:"json",
            data: {'pk':pk, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
            success: function(response){
              console.log(response.post)
                $(".modal-body").html(response.content)
                $('.modal-author').html(response.author)
                $('.modal-moreBtn').click(function(){
                  location.href = "/post/post_detail/"+response.id
                })
            },
            error: function(requset, status, error){
              console
            }
          })
        });

        </script>
    </body>
</html>
{% endblock %}
