{% load static %}
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TimeBank</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

  <!--PopUp-->
  <script language="javascript">
    function showPopup() {window.open("send_message", "send message", "width=400, height=300, left=100, top=50");}
  </script>
</head>

<body id="page-top">

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">{{ btn_msg }}</button>
                

</body>


